body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}
table{
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 70%;
}
table,td,th{
    border: 1px solid white;
    border-collapse: collapse;
}
td{
    padding: 15px;
    text-align: center;
}
th{
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: darkred;
}