body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    color: white;
}
.table-center{
    margin-left: auto;
    margin-right: auto;
}
input{
    font-size: 15px;
    width: 300px;
    margin: 10px 0;
    padding: 15px;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: darkred;
}
.text-center{
    text-align: center;
}
button{
    padding: 5px 10px;
    cursor: pointer;
    background-color: #008CBA;
    border: none;
    color: white;
    border-radius: 5%;
    font-size: 20px;
}
h1{
    border-bottom: 2px solid red;
    text-align: center;
}